<p>
  users Component works!
</p>

<!-- <h2>{{user.name | uppercase }} Details</h2>
<div><span>id: </span>{{user.id}}</div>
<div><span>name: </span>{{user.name}}</div>

<div>
  <label>name:
    <input [(ngModel)]="user.name" placeholder="name">
  </label>
</div> -->

<div>
  <li *ngFor= 'let user of userDet' (click) = 'onSelect(user)'>{{user.name}}</li>
</div>
<div *ngIf="selectedUser">
  <h2>{{selectedUser.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedUser.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedUser.name" placeholder="name">
    </label>
  </div>
</div>
